@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
  text-align: center; 
}

.accounts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* styles for account sections */
.account {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account-content-wrapper {
  width: 100%;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  width: 150px;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }

  .transaction-button {
    width: 200px;
  }
}

/* New styles for the edit form */
.edit-name-form {
  margin-top: 20px;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 40px;
    font-size: 1.5rem;
    text-align: center;
    color: $primary-color;
  }

  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
      font-weight: bold;
      color: $primary-color;
    }

    input {
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ddd;
      border-radius: 5px;

      &:disabled {
        background: #f5f5f5;
      }
    }
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;

    .save-button {
      background-color: #00bc77;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #009e60;
      }
    }

    .cancel-button {
      background-color: #d9534f;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      
      &:hover {
        background-color: #c9302c;
      }
    }
  }
}
